<div class="container">
  <div class="top">
    <div class="item"
         [style]="'background-image: url(/4/04-1536x720.jpg);'">
      <div></div>
      <mat-card class="card" appearance="outlined">
        <mat-card-header>
          <mat-card-title>Zabiegi rehabilitacyjne</mat-card-title>
        </mat-card-header>
      </mat-card>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="content">
    <div class="content-1">
      <p>
        W naszym Ośrodku Rehabilitacyjno-Wypoczynkowym świadczymy szereg usług z zakresu zabiegów rehabilitacyjnych
        umowy z NFZ. Zabiegi rehabilitacyjne dostosowane są do potrzeb pacjentów.
      </p>
    </div>
    <div class="content-2">
      <mat-card>
        <img mat-card-image src="/kDSC_7901/kDSC_7901-300x200.jpg" alt="Elektroterapia">
        <mat-card-header>
          <mat-card-title>
            Elektroterapia
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Zabiegi z wykorzystaniem różnego typu lecznicze prądy – stałe lub zmienne, o różnej częstotliwości.
            Wskazania: bóle kręgosłupa, dyskopatie, nerwobóle, zwyrodnienie stawów, choroby reumatyczne, dystrofie
            mięśniowe, zapalenie tkanek miękkich, rwa kulszowa, bóle głowy, osteoporoza.
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <img mat-card-image
             src="/conscious-design-o50fBHPIgc8-unsplash/conscious-design-o50fBHPIgc8-unsplash-300x200.jpg"
             alt="Laseroterapia">
        <mat-card-header>
          <mat-card-title>
            Laseroterapia
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Stymulacja procesów leczniczych organizmu za pomocą promieniowania laserowego. Wskazania: choroby
            reumatoidalne i zwyrodnieniowe stawów, bóle po urazach, bóle mięśniowo-szkieletowe.
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <img mat-card-image
             src="/kDSC_7907/kDSC_7907-300x200.jpg"
             alt="Magnetoterapia">
        <mat-card-header>
          <mat-card-title>
            Magnetoterapia
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Oddziaływanie na komórki polem magnetycznym. Przyspiesza gojenie się ran, zmniejsza ból i stany zapalne.
            Wskazania: bóle, stany zapalne, obrzęki, uszkodzenia kości, choroby krążenia, poprawa odporności.
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <img mat-card-image
             src="/kDSC_7902/kDSC_7902-300x200.jpg"
             alt="Hydroterapia">
        <mat-card-header>
          <mat-card-title>
            Hydroterapia
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Metoda leczenia bodźcowego polegająca na zewnętrznym stosowaniu wody o różnych postaciach. Wskazania:
            choroby reumatyczne i zwyrodnieniowe stawów, problemy z krążeniem, choroba Reynauda, schorzenia nerwów
            obwodowych, zwichnięcia, skręcenia, odmrożenia, urazy tkanek miękkich.
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <img mat-card-image src="/kDSC_7901/kDSC_7901-300x200.jpg" alt="Ultradźwieki">
        <mat-card-header>
          <mat-card-title>
            Ultradźwieki
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Wykorzystywanie fal o niskiej częstotliwości do leczenia stanów bólowych i zapalnych. Wskazania: bóle
            narządów ruchu, skurcze mięśni, zapalenie kaletki maziowej, zespół Sudecka, uszkodzenie torebki stawowej,
            zapalenie ścięgien, nadwyrężenie mięśni, gojenie blizn, gojenie ran, poprawa cyrkulacji limfy.
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <img mat-card-image
             src="/conscious-design-o50fBHPIgc8-unsplash/conscious-design-o50fBHPIgc8-unsplash-300x200.jpg"
             alt="Światłolecznictwo (lampa Sollux)">
        <mat-card-header>
          <mat-card-title>
            Światłolecznictwo (lampa Sollux)
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Nagrzewanie tkanek za pomocą lampy Sollux o silnym świetle podczerwonym. Wskazania: bóle kręgosłupa, mięśni,
            rwa kulszowa, ramienna, lumbago, dyskopatia, zapalenie stawów i nerwów, stłuczenia, skręcenia, przykurcze
            mięśniowe i stawowe, blizny i zrosty, półpasiec, trądzik młodzieńczy, zapalenie zatok.
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <img mat-card-image
             src="/kDSC_7911/kDSC_7911-683x1024.jpg"
             height="400"
             alt="Masaż suchy">
        <mat-card-header>
          <mat-card-title>
            Masaż suchy
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Zbiór różnych technik i chwytów manualnych, które w sposób mechaniczny wpływają na różne partie ciała.
            Wskazania: odmrożenia, blizny pooperacyjne, zrosty, choroby obwodowych naczyń krwionośnych, choroba
            Raynauda, niewydolność krążenia, zaniki mięśniowe, niedowład, porażenia, nerwobóle, zapalenia nerwów,
            choroby mózgu i opon mózgowych.
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <img mat-card-image
             src="/kDSC_7898/kDSC_7898-683x1024.jpg"
             height="400"
             alt="Podciśnieniowa terapia uciskowa">
        <mat-card-header>
          <mat-card-title>
            Podciśnieniowa terapia uciskowa
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Mechaniczna technika wykorzystująca podciśnienie w celu przyspieszenia i ułatwienia procesu gojenia.
            Wskazania: niewydolność żylna, zespół Reynauda, neuropatia, neuralgia, choroba niedokrwienna kończyn
            dolnych, angiopatia cukrzycowa, sinica kończyn-akrocyjanoza, algo dystrofia, przewlekłe obrzęki, otyłość,
            zwyrodnienie stawów.
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <img mat-card-image
             src="/kDSC_7891/kDSC_7891-300x200.jpg"
             alt="Kinezyterapia">
        <mat-card-header>
          <mat-card-title>
            Kinezyterapia
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Leczenie ruchem. Ćwiczenia czynne, bierne, w obciążeniu, indywidualna praca z pacjentem. Wskazania: choroby
            układu ruchu, wady postawy, urazy, złamania, RZS, bóle reumatoidalne, bóle kręgosłupa, niedowład, porażenie
            kończyn, choroby układu krążenia, nadciśnienie tętnicze, choroba Parkinsona, choroby płuc, choroby
            nowotworowe.
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <img mat-card-image
             src="/kDSC_7910/kDSC_7910-683x1024.jpg"
             height="400"
             alt="Fluidoterapia">
        <mat-card-header>
          <mat-card-title>
            Fluidoterapia
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Zabieg rozgrzewający i masujący wykonywany na kończyny górne . Do zabiegu używana jest zmielona kukurydza,
            która podgrzewa się do odpowiedniej temperatury. Wskazania: RZS, zaburzenia krążenia kończyn górnych, zmiany
            zwyrodnieniowe stawów palców i dłoni, złamania, stany pourazowe.
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <img mat-card-image
             src="/kDSC_7909/kDSC_7909-300x200.jpg"
             alt="Tlenoterapia">
        <mat-card-header>
          <mat-card-title>
            Tlenoterapia
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Metoda leczenia tlenem polegającym na zwiększeniu stężenia tlenu we wdychanym powietrzu. Wskazania:
            niewydolność oddechu, rozszerzenie oskrzeli, przewlekła obturacyjna choroba płuc, astma, duszności, bezdech
            senny.
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <img mat-card-image
             src="/kDSC_7897/kDSC_7897-683x1024.jpg"
             height="400"
             alt="Krioterapia miejscowa">
        <mat-card-header>
          <mat-card-title>
            Krioterapia miejscowa
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Zabieg do którego wykorzystujemy ciekły azot medyczny. W momencie aplikacji na skórę temperatura ciekłego
            azotu wynosi od -100 st.C do 180 st. Wskazania: choroby reumatyczne tkanek miękkich, zespoły bólowe
            kręgosłupa, zmiany zwyrodnieniowe stawów, zwichnięcia.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="content-3">
      <div class="content-3-1">
        <h1>Oferta w ramach NFZ</h1>
        <p>Powiatowy Ośrodek Rehabilitacyjno – Wypoczynkowy „Pałac „ w Przełazach sp . z o. o. prowadzi rehabilitację
          ambulatoryjną w ramach umowy z NFZ w godzinach:
        </p>
        <table>
          <tr>
            <td><b>Poniedziałek</b></td>
            <td class="cell-details">8:00 – 18:00</td>
          </tr>
          <tr>
            <td><b>Wtorek</b></td>
            <td class="cell-details">8:00 – 18:00</td>
          </tr>
          <tr>
            <td><b>Środa</b></td>
            <td class="cell-details">8:00 – 18:00</td>
          </tr>
          <tr>
            <td><b>Czwartek</b></td>
            <td class="cell-details">8:00 – 18:00</td>
          </tr>
          <tr>
            <td><b>Piątek</b></td>
            <td class="cell-details">8:00 – 18:00</td>
          </tr>
        </table>
      </div>
      <div class="content-3-2">
        <img src="/kDSC_7861-1/kDSC_7861-1-684x1024.jpg" alt="Zamek i drzewka">
      </div>
    </div>
  </div>
</div>
