<div class="container">
  <div class="top">
    <div class="item"
         [style]="'background-image: url(/Zrzut-ekranu-2021-06-15-o-12.58.52/Zrzut-ekranu-2021-06-15-o-12.58.52-1536x852.jpg);'">
      <div></div>
      <mat-card class="card" appearance="outlined">
        <mat-card-header>
          <mat-card-title>PFRON</mat-card-title>
        </mat-card-header>
      </mat-card>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="content">
    <div class="content-1">
      <div class="content-1-1">
        <img src="/kDSC_7861-1/kDSC_7861-1-684x1024.jpg" alt="Zamek i drzewka">
      </div>
      <div class="content-1-2">
        <h1>
          Zawiadomienie o wpisie do rejestru ośrodków nr {{ batch.codes.resort }}
        </h1>
        <p>
          Na podstawie art. 10 d ust. 4 ustawy z dnia 27 sierpnia 1997 r. o rehabilitacji zawodowej i społecznej oraz
          zatrudnianiu osób niepełnosprawnych (Dz. U. z 2019 r., poz. 1172 z późn. zm.) po rozpatrzeniu wniosku z dnia
          16.02.2023 r. informuję, że:
        </p>
        <b>
          Powiatowy Ośrodek Rehabilitacyjno-Wypoczynkowy „Pałac” Sp. z o.o. w Przełazach,
          {{ address.street }}, {{ address.postalCode }} {{ address.city }}
        </b>
        <p>
          z dniem <b>01 marca 2023 r. uzyskuje wpis do rejestru ośrodków, w których mogą odbywać się turnusy
          rehabilitacyjne</b> i uprawniony jest do przyjmowania zorganizowanych grup turnusowych osób niepełnosprawnych:
        </p>
        <ul>
          <li>1. z dysfunkcją narządu ruchu, z wyłączeniem osób poruszających się na wózkach inwalidzkich,</li>
          <li>2. z dysfunkcją narządu ruchu poruszających się na wózkach inwalidzkich,</li>
          <li>3. z dysfunkcją narządu słuchu,</li>
          <li>4. z dysfunkcją narządu wzroku,</li>
          <li>5. z upośledzeniem umysłowym,</li>
          <li>6. z chorobą psychiczną,</li>
          <li>7. z padaczką,</li>
          <li>8. ze schorzeniami układu krążenia,</li>
          <li>9. z autyzmem,</li>
          <li>10. kobiety po mastektomii,</li>
          <li>11. z chorobami neurologicznymi,</li>
          <li>12. z mukowiscydozą,</li>
          <li>13. z wadami postawy,</li>
          <li>14. z zaburzeniami depresyjnymi,</li>
          <li>15. z zaburzeniami głosu i mowy,</li>
          <li>16. z zaburzeniami nerwicowymi,</li>
          <li>17. z zespołem Downa,</li>
          <li>18. ze schorzeniami kręgosłupa,</li>
          <li>19. ze schorzeniami laryngologicznymi,</li>
          <li>20. ze schorzeniami reumatycznymi,</li>
          <li>21. ze schorzeniami układu oddechowego,</li>
          <li>22. ze skoliozą,</li>
          <li>23. z cukrzycą,</li>
          <li>24. ze stwardnieniem rozsianym</li>
        </ul>
        <p>
          na następujące turnusy rehabilitacyjne:
        </p>
        <p>
          1) usprawniająco – rekreacyjne
        </p>
<!--        <b>-->
<!--          Niniejszy wpis zachowuje ważność do dnia 01 marca 2026 r.-->
<!--        </b>-->
      </div>
    </div>
    <div class="content-2">
      <div class="content-2-1">
        <h1>
          Zawiadomienie o wpisie do rejestru organizatorów turnusów rehabilitacyjnych nr {{ batch.codes.organiser }}
        </h1>
        <p>
          Na podstawie art. 10d ust. 4 ustawy z dnia 27 sierpnia 1997 r. o rehabilitacji zawodowej i społecznej oraz
          zatrudnianiu osób niepełnosprawnych (Dz. U. z 2023 r., poz. 100) po rozpatrzeniu wniosku z dnia 28.11.2022 r.,
          uzupełnionego w dniu 11.01.2023 r. informuję, że:
        </p>
        <b>
          Powiatowy Ośrodek Rehabilitacyjno-Wypoczynkowy „Pałac” Sp. z o.o. w Przełazach,
          {{ address.street }}, {{ address.postalCode }} {{ address.city }}
        </b>
        <p>
          <b>z dniem 19 stycznia 2023 r. roku uzyskuje wpis do rejestru organizatorów turnusów rehabilitacyjnych</b>, w
          których
          uczestniczą osoby niepełnosprawne korzystające z dofinansowania ze środków Państwowego Funduszu Rehabilitacji
          Osób Niepełnosprawnych i jest uprawniony do organizowania następujących turnusów rehabilitacyjnych:
        </p>
        <p>
          1. usprawniająco-rekreacyjnych dla grupy osób niepełnosprawnych:
        </p>
        <ul>
          <li>1. z dysfunkcją narządu ruchu, z wyłączeniem osób poruszających się na wózkach inwalidzkich,</li>
          <li>2. z dysfunkcją narządu ruchu poruszających się na wózkach inwalidzkich,</li>
          <li>3. z dysfunkcją narządu słuchu,</li>
          <li>4. z dysfunkcją narządu wzroku,</li>
          <li>5. z upośledzeniem umysłowym,</li>
          <li>6. z chorobą psychiczną,</li>
          <li>7. z padaczką,</li>
          <li>8. ze schorzeniami układu krążenia,</li>
          <li>9. z autyzmem,</li>
          <li>10. kobiety po mastektomii,</li>
          <li>11. z chorobami neurologicznymi,</li>
          <li>12. z mukowiscydozą,</li>
          <li>13. z wadami postawy,</li>
          <li>14. z zaburzeniami depresyjnymi,</li>
          <li>15. z zaburzeniami głosu i mowy,</li>
          <li>16. z zaburzeniami nerwicowymi,</li>
          <li>17. z zespołem Downa,</li>
          <li>18. ze schorzeniami kręgosłupa,</li>
          <li>19. ze schorzeniami laryngologicznymi,</li>
          <li>20. ze schorzeniami reumatycznymi,</li>
          <li>21. ze schorzeniami układu oddechowego,</li>
          <li>22. ze skoliozą,</li>
          <li>23. z cukrzycą,</li>
          <li>24. ze stwardnieniem rozsianym.</li>
        </ul>
<!--        <b>Niniejszy wpis zachowuje ważność do dnia 19 stycznia 2026 r.</b>-->
      </div>
      <div class="content-2-2">
        <img src="/kDSC_7890/kDSC_7890-768x513.jpg" alt="Rehabilitacja">
      </div>
    </div>
  </div>
</div>
