<div class="container">
  <div class="top">
    <div class="item"
         [style]="'background-image: url(/Zrzut-ekranu-2021-06-15-o-12.58.52/Zrzut-ekranu-2021-06-15-o-12.58.52-1536x852.jpg);'">
      <div></div>
      <mat-card class="card" appearance="outlined">
        <mat-card-header>
          <mat-card-title>PFRON</mat-card-title>
        </mat-card-header>
      </mat-card>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="content">
    <div class="content-1">
      <div class="content-1-1">
        <img src="/kDSC_7861-1/kDSC_7861-1-684x1024.jpg" alt="Zamek i drzewka">
      </div>
      <div class="content-1-2">
        <h1>
          Zawiadomienie o wpisie do rejestru ośrodków nr {{ batch.codes.resort }}
        </h1>
        <b>
          Powiatowy Ośrodek Rehabilitacyjno-Wypoczynkowy „Pałac” Sp. z o.o. w Przełazach,
          {{ address.street }}, {{ address.postalCode }} {{ address.city }}
        </b>
        <p>
          Wpis do rejestru ośrodków, w których mogą odbywać się turnusy
          rehabilitacyjne i uprawniony jest do przyjmowania zorganizowanych grup turnusowych osób niepełnosprawnych:
        </p>
        <ol>
          <li>z dysfunkcją narządu ruchu, z wyłączeniem osób poruszających się na wózkach inwalidzkich,</li>
          <li>z dysfunkcją narządu ruchu poruszających się na wózkach inwalidzkich,</li>
          <li>z dysfunkcją narządu słuchu,</li>
          <li>z dysfunkcją narządu wzroku,</li>
          <li>z upośledzeniem umysłowym,</li>
          <li>z chorobą psychiczną,</li>
          <li>z padaczką,</li>
          <li>ze schorzeniami układu krążenia,</li>
          <li>z autyzmem,</li>
          <li>kobiety po mastektomii,</li>
          <li>z chorobami neurologicznymi,</li>
          <li>z mukowiscydozą,</li>
          <li>z wadami postawy,</li>
          <li>z zaburzeniami depresyjnymi,</li>
          <li>z zaburzeniami głosu i mowy,</li>
          <li>z zaburzeniami nerwicowymi,</li>
          <li>z zespołem Downa,</li>
          <li>ze schorzeniami kręgosłupa,</li>
          <li>ze schorzeniami laryngologicznymi,</li>
          <li>ze schorzeniami reumatycznymi,</li>
          <li>ze schorzeniami układu oddechowego,</li>
          <li>ze skoliozą,</li>
          <li>z cukrzycą,</li>
          <li>ze stwardnieniem rozsianym</li>
        </ol>
        <p>
          na następujące turnusy rehabilitacyjne:
        </p>
        <p>
          1) usprawniająco – rekreacyjne
        </p>
        <!--        <b>-->
        <!--          Niniejszy wpis zachowuje ważność do dnia 01 marca 2026 r.-->
        <!--        </b>-->
      </div>
    </div>
    <div class="content-2">
      <div class="content-2-1">
        <h1>
          Zawiadomienie o wpisie do rejestru organizatorów turnusów rehabilitacyjnych nr {{ batch.codes.organiser }}
        </h1>
        <p>
          Na podstawie art. 10d ust. 4 ustawy z dnia 27 sierpnia 1997 r. o rehabilitacji zawodowej i społecznej oraz
          zatrudnianiu osób niepełnosprawnych (Dz. U. z 2023 r., poz. 100) po rozpatrzeniu wniosku z dnia 28.11.2022 r.,
          uzupełnionego w dniu 11.01.2023 r. informuję, że:
        </p>
        <b>
          Powiatowy Ośrodek Rehabilitacyjno-Wypoczynkowy „Pałac” Sp. z o.o. w Przełazach,
          {{ address.street }}, {{ address.postalCode }} {{ address.city }}
        </b>
        <p>
          Wpis do rejestru organizatorów turnusów rehabilitacyjnych, w
          których
          uczestniczą osoby niepełnosprawne korzystające z dofinansowania ze środków Państwowego Funduszu Rehabilitacji
          Osób Niepełnosprawnych i jest uprawniony do organizowania następujących turnusów rehabilitacyjnych:
        </p>
        <b>Usprawniająco-rekreacyjnych dla grupy osób niepełnosprawnych:</b>
        <ol>
          <li>z dysfunkcją narządu ruchu, z wyłączeniem osób poruszających się na wózkach inwalidzkich,</li>
          <li>z dysfunkcją narządu ruchu poruszających się na wózkach inwalidzkich,</li>
          <li>z dysfunkcją narządu słuchu,</li>
          <li>z dysfunkcją narządu wzroku,</li>
          <li>z upośledzeniem umysłowym,</li>
          <li>z chorobą psychiczną,</li>
          <li>z padaczką,</li>
          <li>ze schorzeniami układu krążenia,</li>
          <li>ze schorzeniami układu oddechowego,</li>
          <li>z chorobami układu pokarmowego,</li>
          <li>z chorobami układu moczowo-płciowego,</li>
          <li>z chorobami neurologicznymi,</li>
          <li>ze schorzeniami endokrynologicznymi,</li>
          <li>ze schorzeniami metabolicznymi,</li>
          <li>ze schorzeniami enzymatycznymi,</li>
          <li>ze chorobami układu krwiotwórczego,</li>
          <li>z autyzmem.</li>
        </ol>
        <!--        <b>Niniejszy wpis zachowuje ważność do dnia 19 stycznia 2026 r.</b>-->
      </div>
      <div class="content-2-2">
        <img src="/kDSC_7890/kDSC_7890-768x513.jpg" alt="Rehabilitacja">
      </div>
    </div>
  </div>
</div>
