<div class="container">
  <div class="top">
    <div class="item"
         [style]="'background-image: url(/Zrzut-ekranu-2021-06-15-o-12.55.53/Zrzut-ekranu-2021-06-15-o-12.55.53-1-1536x858.jpg);'">
      <div></div>
      <mat-card class="card" appearance="outlined">
        <mat-card-header>
          <mat-card-title>O nas</mat-card-title>
        </mat-card-header>
      </mat-card>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="content">
    <div class="content-1">
      <div class="content-1-1">
        <h1>
          Położony jest nad brzegiem jeziora Niesłysz – pierwsza klasa czystości wody, otoczony parkiem.
        </h1>
      </div>
      <div class="content-1-2">
        <p>
          Ośrodek Rehabilitacyjno-Wypoczynkowy w Przełazach (gmina Lubrza, pow. Świebodzin), mieści się w XIX- wiecznym,
          neorenesansowym pałacu, w pobliżu międzynarodowej trasy Warszawa- Berlin. Położony jest nad brzegiem jeziora
          Niesłysz – pierwsza klasa czystości wody, otoczony parkiem.
        </p>
        <p>
          Latem niezwykle czyste wody lubuskich jezior zachęcają do spędzania wolnego czasu nad ich brzegami. Jesienią
          zaś, kuszą turystów lasy pełne grzybów.
        </p>
      </div>
      <div class="content-1-3">
        <p>
          Malownicze trasy turystyczne między innymi wokół jeziora Niesłysz, zachęcają do wycieczek pieszych i
          rowerowych o każdej porze roku.
        </p>
        <img src="/kDSC_7863-1/kDSC_7863-1-300x200.jpg" alt="Drzewka i Pałac">
      </div>
    </div>
    <div class="content-2">
      <div class="content-2-1">
        <img src="/06/06-2048x812.jpg" alt="Łabędź">
      </div>
      <div class="content-2-2">
        <p>
          W promieniu kilkunastu kilometrów od Przełaz można zwiedzić:
        </p>
        <ul>
          <li>Zamek Joannitów w Łagowie Lubuskim, pocysterskie opactwo</li>
          <li>Pocysterski klasztor w Gościkowie-Paradyżu – wczesnogotycki kościół bazylikowy z barokowym ołtarzem
            głównym z 1739r. otoczony pięknym ogrodem
          </li>
          <li>Sanktuarium Matki Bożej Cierpliwie Słuchającej w Rokitnie</li>
          <li>
            „Pętla Boryszyńska” – unikalny zabytek architektury militarnej stanowiącej część Międzyrzeckiego Rejonu
            Umocnionego.
          </li>
        </ul>
      </div>
    </div>
    <div class="content-3">
      <div class="content-3-1">
        <p>
          Domeną naszej działalności jest organizacja i prowadzenie turnusów rehabilitacyjno – wypoczynkowych z
          dofinansowaniem PFRON oraz z pełną odpłatnością.
        </p>
      </div>
      <div class="content-3-2">
        <p>
          Od dnia 1 lipca 2014 roku realizujemy również świadczenia z zakresu fizjoterapii ambulatoryjnej w ramach
          kontraktu z Narodowym Funduszem Zdrowia.
        </p>
      </div>
      <div class="content-3-3">
        <img src="/kDSC_7854-1/kDSC_7854-1-300x200.jpg" alt="Jeziorko i hangar">
      </div>
    </div>
    <div style="background-image: url('/07/07-1024x502.jpg')" class="content-4">
      <div class="content-4-1">
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>
          Pałac Przełazy
        </h1>
        <p>
          Roztaczające się wokół lasy iglaste i mieszane, naturalne zbiorniki wodne oraz wyjątkowe położenie Przełaz z
          dala od przemysłu i spalin samochodowych, tworzą specyficzny mikroklimat, który dobrze służy osobom cierpiącym
          na schorzenia górnych dróg oddechowych.
        </p>
      </div>
    </div>
    <app-our-offer></app-our-offer>
  </div>
</div>
