<div class="container">
  <div id="regulamin-palacu">
    <h1>Regulamin Powiatowego Ośrodka Rehabilitacyjno-Wypoczynkowego „Pałac” w Przełazach</h1>
  </div>
  <div>
    <h3>Regulamin niniejszy obowiązuje od dnia 01-01-2025 roku.</h3>
  </div>
  <div class="resort-regulations">
    <ul>
      <li><b>1.</b> Postanowienia ogólne</li>
      <li>
        <ul>
          <li>
            <b>1.1.</b> Na terenie Powiatowego Ośrodka Rehabilitacyjno-Wypoczynkowego Pałac w Przełazach Sp. z o.o., zwanego
            dalej Ośrodkiem, mają prawo przebywać osoby (goście):
          </li>
          <li>
            <ul>
              <li>
                - które zarezerwowały i opłaciły pobyt
              </li>
              <li>
                - właściciele przyczep kempingowych posiadający abonament roczny
              </li>
              <li>
                - pacjenci korzystający z zabiegów rehabilitacyjnych (NFZ i prywatnych ) w dni robocze do godziny 18:00.
              </li>
              <li>
                - pracownicy i wolontariusze
              </li>
              <li>
                - dostawcy towarów i usług
              </li>
            </ul>
          </li>
          <li>
            <b>1.2.</b> Osoby nie zameldowane na pobyt w Ośrodku nie mogą przebywać na jego terenie.
          </li>
          <li>
            <b>1.3.</b> Pobyt na terenie Ośrodka oznacza znajomość i akceptację niniejszego regulaminu.
          </li>
          <li>
            <b>1.4.</b> Goście korzystający z usług Ośrodka zobowiązują się do przestrzegania:
          </li>
          <li>
            <ul>
              <li>
                - postanowień niniejszego regulaminu,
              </li>
              <li>
                - przepisów BHP oraz przeciwpożarowych,
              </li>
              <li>
                - <a (click)="moveToBeachRegulation()">Zasady korzystania z plaży</a> będących integralną częścią niniejszego regulaminu.
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <b>2.</b> Ośrodek nie ponosi odpowiedzialności za szkody będące wynikiem nieprzestrzegania przez Gości Ośrodka zasad
        oraz postanowień zawartych w niniejszym regulaminie.
      </li>
      <li>
        <b>3.</b> Dopuszcza się możliwość składania wizyt Gościom Ośrodka przez osoby trzecie z zewnątrz, nie zameldowane w
        Ośrodku, w godz. od 8.00 do 22.00. Osoby trzecie mogą być wprowadzone na teren Ośrodka wyłącznie przez osoby
        zameldowane na pobyt w Ośrodku i wyłącznie po zgłoszeniu tego faktu kierownictwu Ośrodka i otrzymaniu zgody na
        taką wizytę. Osoby trzecie przebywające na terenie Ośrodka na zaproszenie Gości Ośrodka są zobowiązane do jego
        opuszczenia przed godziną 22:00.
      </li>
      <li>
        <b>4.</b> Na terenie Ośrodka zabrania się prowadzenia wszelkiego handlu, hazardu, działań promocyjnych i reklamowych
        bez zgody kierownictwa Ośrodka.
      </li>
      <li>
        <b>5.</b> Ośrodek nie zezwala Gościom Ośrodka na organizację na terenie Ośrodka we własnym zakresie, imprez.
      </li>
      <li>
        <b>6.</b> Gość Ośrodka wyraża zgodę na przetwarzanie danych osobowych zgodnie z Ustawą o ochronie danych osobowych z
        dn. 10 maja 2018 r. (Dz.U. z 2018 r., poz. 1000) przez zarządcę Ośrodka, tj. PORW „Pałac” w Przełazach sp. z
        o.o., dla potrzeb niezbędnych do realizacji pobytu Gościa w Ośrodku. Gość ma prawo wglądu do swoich danych
        osobowych oraz ich korygowania.
      </li>
      <li>
        <b>7.</b> Osobom trzecim Ośrodek nie udziela żadnych informacji o danych osobowych zameldowanych Gości.
      </li>
      <li>
        <b>8.</b> Wszelkie czynności związane ze zgłoszeniem pobytu, zameldowaniem i wniesieniem należnych opłat dokonywane są
        w biurze Ośrodka.
      </li>
      <li>
        <b>9.</b> Płatności za pobyt w Ośrodku oraz inne świadczone przez Ośrodek usługi dokonuje się z góry za cały
        rezerwowany okres pobytu, a w razie nagłego wyjazdu lub skrócenia pobytu Ośrodek nie dokonuje zwrotu opłaty za
        rezerwowany i opłacony wcześniej a niewykorzystany okres pobytu.
      </li>
      <li>
        <b>10.</b> Do ceny pobytu wynikającej z obowiązującego cennika należy w dniu przyjazdu doliczyć i uiścić w biurze
        Ośrodka wszelkie opłaty dodatkowe naliczone podczas dokonywania formalności meldunkowych wynikające z
        zamówionych usług dodatkowych. Dotyczy to opłat, które nie były wcześniej naliczane m. in. opłaty za :
      </li>
      <li>
        <ul>
          <li>
            - zwierzęta mające przebywać na terenie Ośrodka,
          </li>
          <li>
            - dodatkowe usługi gastronomiczne,
          </li>
        </ul>
      </li>
      <li>
        <b>11.</b> Jakakolwiek zmiana terminu przyjazdu lub wyjazdu (np. późniejszy przyjazd lub wcześniejszy wyjazd/skrócenie
        pobytu) w stosunku do wcześniej dokonanej i potwierdzonej przez biuro Ośrodka rezerwacji nie upoważnia do
        żądania obniżenia kosztów pobytu i zwrotu jakichkolwiek wniesionych przez Gościa opłat. Każda niezrealizowana
        rezerwacja (brak pojawienia Gościa w Ośrodku w dniu przewidzianym na rozpoczęcie pobytu a maksymalnie do dnia
        następnego do godziny 8.00) upoważnia Ośrodek jednostronnie do zerwania zawartej z Gościem umowy tj. anulowania
        dokonanej rezerwacji z możliwością żądania zwrotu wszelkich poniesionych z tego tytułu kosztów. Wpłacony przez
        Gościa zadatek na zarezerwowany pobyt który w ten sposób nie doszedł do skutku nie podlega zwrotowi.
      </li>
      <li>
        <b>12.</b> Ilość osób zakwaterowanych w Ośrodku nie może przekraczać ilości osób zameldowanych i mających opłacony
        pobyt. W przypadku stwierdzenia przebywania w Ośrodku dodatkowych osób nieuprawnionych do przebywania na jego
        terenie koszt ich pobytu ponosi osoba zameldowana.
      </li>
      <li>
        <b>13.</b> Zakwaterowanie dodatkowych osób jest ograniczone możliwościami technicznymi. Ośrodek może odmówić i nie
        zapewnić dodatkowego miejsca noclegowego tj. wykonania dostawki w danym pokoju w celu zakwaterowania dodatkowych
        osób.
      </li>
      <li>
        <b>14.</b> Wynajmujący nie ma prawa udostępniać pokoju osobom trzecim nie zameldowanym w Ośrodku bez zgody kierownictwa
        Ośrodka, nawet jeśli nie upłynął termin za który uiścił należną opłatę za pobyt.
      </li>
      <li>
        <b>15.</b> Ośrodek zastrzega sobie prawo odmowy zakwaterowania osobom:
      </li>
      <li>
        <ul>
          <li>- będącym pod wpływem alkoholu lub środków odurzających,</li>
          <li>- zachowującym się agresywnie lub w sposób powszechnie uznany za wulgarny,</li>
          <li>- które nie poinformowały kierownictwa Ośrodka o organizacji w Ośrodku imprez (np. wieczory kawalerskie,
            wieczory panieńskie, zakończenie sezonu piłkarskiego, zakończenie szkoły, spotkania integracyjne itp.).
          </li>
        </ul>
      </li>
      <li>
        <b>16.</b> Ośrodek przekazuje Gościom czysty i wysprzątany pokój gotowy do użytkowania oraz jeden komplet kluczy wraz z
        informacją o wyposażeniu i stanie technicznym pomieszczeń.
      </li>
      <li>
        <b>17.</b> Z chwilą przejęcia kluczy do pokoju zameldowany Gość staje się osobą materialnie odpowiedzialną za
        wyposażenie oddane do użytkowania. Niezwłocznie po wejściu do pokoju Gość jest zobowiązany do sprawdzenia
        faktycznego stanu wyposażenia oraz czy jest on zgodny z przekazaną przez biuro Ośrodka informacją o ich stanie
        technicznym. W przypadku stwierdzenia jakichkolwiek różnic czy braków w wyposażeniu pokoju, fakt ten należy
        zgłosić do biura Ośrodka nie później niż w ciągu pierwszej godziny pobytu. Za wszelkie zauważone i nie zgłoszone
        wady, braki i usterki odpowiada aktualnie zameldowany Gość.
      </li>
      <li>
        <b>18.</b> Wszelkie usterki wynikłe w trakcie użytkowania pokoju należy zgłaszać niezwłocznie do biura Ośrodka. Nie
        wolno ich usuwać na własną rękę.
      </li>
      <li>
        <b>19.</b> Za uszkodzone lub zagubione przedmioty oddane do użytkowania Goście Ośrodka ponoszą pełną odpowiedzialność
        materialną.
      </li>
      <li>
        <b>20.</b> Szkody wynikające z nieprawidłowej eksploatacji wynajmowanych pomieszczeń lub przekazanego mienia Ośrodka
        powstałe z przyczyn leżących po stronie Gości korzystających z udostępnionych im pomieszczeń i mienia Ośrodka
        rozliczane będą na miejscu. Szkody rozliczane są wg aktualnie obowiązujących cen umożliwiających naprawę lub
        odtworzenie uszkodzonego wyposażenia lub mienia bądź usunięcia ewentualnych zniszczeń/zabrudzeń itp. W przypadku
        braku możliwości ustalenia kosztu naprawy w chwili powstania szkody dopuszcza się dokonanie wyceny szkody w
        terminie 7 dni od daty ujawnienia szkody. Ośrodek wystawia Gościowi Ośrodka dodatkową fakturę, która w całości
        pokryje faktyczne koszty naprawy szkody powiększoną o należny podatek.
      </li>
      <li>
        <b>21.</b> Zgubienie klucza przez Gościa skutkuje dorobieniem go na własny koszt lub uiszczeniem przez niego w biurze
        Ośrodka opłaty w wysokości 60 zł.
      </li>
      <li>
        <b>22.</b> Uwagi dotyczące jakości świadczonych przez Ośrodek usług wniesione po zakończeniu ich świadczenia lub w dniu
        wyjazdu nie będą rozpatrzone.
      </li>
      <li>
        <b>23.</b> Przebywanie na terenie Ośrodka zobowiązuje do zachowywania się w sposób nie zagrażający bezpieczeństwu
        własnemu i innych Gości oraz mieniu Ośrodka.
      </li>
      <li>
        <b>24.</b> Na terenie Ośrodka należy zachować ciszę nocną w godzinach od 22.00 do 6.00 rano z wyjątkiem organizowanych
        przez sam Ośrodek imprez, wcześniej zapowiedzianych i ogłoszonych przez biuro Ośrodka.
      </li>
      <li>
        <b>25.</b> W pokojach zabrania się w szczególności:
      </li>
      <li>
        <ul>
          <li>- palenia tytoniu oraz tzw. e-papierosów (UWAGA! W przypadku stwierdzenia złamania tego zakazu do rachunku
            za pobyt Gościa doliczona zostanie dodatkowa opłata w wysokości 500 zł, przeznaczona na likwidację
            niepożądanego zapachu tytoniu),
          </li>
          <li>- wynoszenia/przenoszenia z pokoju na zewnątrz lub w inne miejsce, przedmiotów stanowiących jego
            wyposażenie (np. mebli, pościeli, ręczników, koców, naczyń kuchennych itp.),
          </li>
          <li>- pozostawiania bez nadzoru przewodów i urządzeń elektrycznych pod napięciem,</li>
          <li>- używania urządzeń elektrycznych o dużej mocy nie stanowiących standardowego wyposażenia pokoju (np.
            własnych kuchenek, grzejników i innych urządzeń mogących zakłócić pracę instalacji elektrycznej Ośrodka)
          </li>
          <li>- rozpalania grilla na drewnianych stołach lub na pomostach. Korzystanie z własnego grilla musi być
            zgłoszone w biurze Ośrodka i jest dozwolone wyłącznie, jeżeli jego rozpalenie nastąpi w odległości co
            najmniej 2 metrów pomostu i poza zasięgiem rzutu korony drzewa. Osoby rozpalające grilla zobowiązane są do
            nadzorowania go podczas palenia zaś zużyty i ostudzony węgiel/opał należy wysypać do kontenera na popiół.
          </li>
        </ul>
      </li>
      <li>
        <b>26.</b> W Ośrodku obowiązuje całkowity zakaz:
      </li>
      <li>
        <ul>
          <li>- palenia tytoniu i tzw. e-papierosów poza miejscami do tego wyznaczonymi,</li>
          <li>- stawiania namiotów i przyczep campingowych bez zgody,</li>
          <li>- używania na terenie Ośrodka na otwartej przestrzeni radioodbiorników, przenośnego sprzętu
            nagłaśniającego i innych urządzeń odtwarzających głośną muzykę lub inne dźwięki,
          </li>
          <li>- jakiegokolwiek zachowania, które rażąco może zakłócać spokojny pobyt i wypoczynek innym Gościom
            Ośrodka,
          </li>
          <li>- jakiegokolwiek zakłócania spokoju w trakcie obowiązywania ciszy nocnej,</li>
          <li>- używania dodatkowych prywatnych urządzeń grzewczych, butli gazowych, środków pirotechnicznych, petard
            itp. bez zgody kierownictwa Ośrodka.
          </li>
          <li>- samodzielnego rozpalania ognisk na terenie Ośrodka (także w miejscach do tego wyznaczonych) bez
            uprzedniego uzyskania zgody kierownictwa Ośrodka,
          </li>
        </ul>
      </li>
      <li>
        <b>27.</b> Ośrodek nie ponosi odpowiedzialności za pozostawione przez Gości Ośrodka w pokojach i poza nimi pieniądze,
        papiery wartościowe, kosztowności lub inne wartościowe przedmioty również te posiadające wartość naukową lub
        artystyczną.
      </li>
      <li>
        <b>28.</b> Ośrodek nie ponosi odpowiedzialności za przywieziony przez Gości na teren Ośrodka prywatny sprzęt. Obowiązek
        zabezpieczenia tego sprzętu przed ewentualnym zniszczeniem, uszkodzeniem lub kradzieżą spoczywa na właścicielu
        tego sprzętu. O zamiarze przywiezienia na teren Ośrodka własnego sprzętu należy poinformować biuro Ośrodka z
        wyprzedzeniem.
      </li>
      <li>
        <b>29.</b> Ośrodek nie ponosi odpowiedzialności za ewentualne szkody powstałe w wyniku nie zachowania przez Gości
        należytej staranności związanej z zamykaniem okien i drzwi w momencie opuszczania pokoju.
      </li>
      <li>
        <b>30.</b> Pobyt w Ośrodku dzieci do lat 7 dozwolony jest wyłącznie wtedy gdy pozostają one pod opieką osób dorosłych,
        które biorą całkowitą odpowiedzialność za ich czyny jako ich opiekunowie a także za wszelkie następstwa tych
        czynów i zaistniałe sytuacje na terenie całego Ośrodka.
      </li>
      <li>
        <b>31.</b> Pobyt dzieci do lat 7 w parku i na plaży dozwolony jest jedynie pod opieką osób dorosłych, które biorą za
        nie całkowitą odpowiedzialność.
      </li>
      <li>
        <b>32.</b> Wszelkie odpady produkowane przez Gości podczas pobytu w Ośrodku należy wynosić z pokoju i umieszczać w
        pojemnikach na śmieci znajdujących się na terenie Ośrodka, Goście wykonują te czynności we własnym zakresie i
        stosownie do potrzeb. Podobnie przed opuszczeniem Ośrodka Goście są zobowiązani do uporządkowania zajmowanego
        przez siebie pokoju oraz wyniesienia śmieci.
      </li>
      <li>
        <b>33.</b> Wszystkich Gości prosimy o oszczędne korzystanie z energii, wody i innych mediów – wspólnie dbajmy o nasze
        środowisko! W szczególności:
      </li>
      <li>
        <ul>
          <li>- nie pozostawiamy włączonego oświetlenia wewnątrz, kiedy nie przebywamy w jego wnętrzu.</li>
          <li>- upewniamy się podczas opuszczania pokoju, że wszystkie zawory ujęć wody w łazience zostały należycie
            zamknięte.
          </li>
        </ul>
      </li>
      <li>
        <b>34.</b> Goście nie przestrzegający postanowień regulaminu Ośrodka, zakłócający spokój, porządek lub korzystający z
        powierzonego mienia w sposób niezgodny z regulaminem Ośrodka mogą zostać z niego usunięci bez prawa do
        jakiegokolwiek zwrotu poniesionych wcześniej opłat i bez prawa do jakichkolwiek odszkodowań wynikających z faktu
        usunięcia Gości z Ośrodka.
      </li>
      <li>
        <b>35.</b> Ośrodek nie odpowiada za niedogodności spowodowane przyczynami od niego niezależnymi np. przerwy w dostawie
        energii elektrycznej czy wody bądź braku czy zakłócenia sygnału TV.
      </li>
      <li>
        <b>36.</b> Korzystanie z infrastruktury i wyposażenia Ośrodka (np. pomosty, plaża, parkingi) oraz innego sprzętu (np.
        rowerów), podczas pobytu na terenie Ośrodka jest bezpłatne.
      </li>
      <li>
        <b>37.</b> Wjazd na teren Ośrodka pojazdem silnikowym (dotyczy samochodów oraz motocykli) dozwolony jest wyłącznie dla
        Gości Ośrodka.
      </li>
      <li>
        <b>38.</b> Parking na terenie Ośrodka jest NIE STRZEŻONY. Ośrodek i właściciel terenu nie ponosi odpowiedzialności za
        pojazdy zaparkowane na terenie Ośrodka ani za znajdujące się w nich mienie. Ośrodek nie odpowiada także za
        jakiekolwiek szkody spowodowane przez osoby trzecie lub siły wyższe (np. wiatr, burza, woda, ogień, energia
        elektryczna, itp.).
      </li>
      <li>
        <b>39.</b> Parking jest bezpłatny wyłącznie dla Gości Ośrodka podczas ich pobytu i tylko dla maksymalnie 1 pojazdu
        silnikowego.
      </li>
      <li>
        <b>40.</b> Parkowanie dozwolone jest wyłącznie w miejscach parkingowych wyznaczonych do tego celu.
      </li>
      <li>
        <b>41.</b> Zabrania się parkowania pojazdów, a także wjazdu pojazdami w miejsca, gdzie obowiązuje zakaz ruchu. np. w
        rejon plaży oraz na tereny zielone Ośrodka.
      </li>
      <li>
        <b>42.</b> Dopuszcza się wjazd pojazdem pod przyczepę w dniu przyjazdu i wyjazdu Gości za uprzednim uzyskaniem zgody
        kierownictwa Ośrodka w celu umożliwienia Gościom Ośrodka rozpakowania/zapakowania rzeczy osobistych i
        przeniesienia ich z pojazdu do przyczepy lub odwrotnie. Okres postoju pojazdu w takich celach, poza wyznaczonymi
        na terenie Ośrodka obszarami parkingowymi, nie może przekraczać 1 godziny.
      </li>
      <li>
        <b>43.</b> Całkowity zakaz parkowania obowiązuje na drodze dojazdowej do Ośrodka i ciągach komunikacyjnych na terenie
        Ośrodka.
      </li>
      <li>
        <b>44.</b> Za parkowanie w miejscach zabronionych Ośrodek będzie pobierał dodatkowe opłaty w wysokości 200 zł za każdy
        stwierdzony przypadek nie zastosowania się do zasad parkowania. W przypadku konieczności opuszczenia Ośrodka lub
        wjazdu pojazdem na jego teren w okresie obowiązywania ciszy nocnej, tj. po godz. 22:00 i przed godz. 6:00 należy
        z wyprzedzeniem zgłosić ten fakt do biura Ośrodka.
      </li>
      <li>
        <b>45.</b> Zezwolenie na pobyt zwierząt (w tym także psów i kotów) w Ośrodku możliwe jest jedynie po zgłoszeniu tego
        faktu w biurze Ośrodka i otrzymaniu stosownej zgody podczas dokonywania rezerwacji pobytu lub najpóźniej w
        momencie przyjazdu i dokonywania formalności meldunkowych. Pobyt zwierząt w Ośrodku jest płatny, zgodnie z
        aktualnie obowiązującym cennikiem.
      </li>
      <li>
        <b>46.</b> Właściciele zwierząt podczas pobytu w Ośrodku są zobowiązani do:
      </li>
      <li>
        <ul>
          <li>- wniesienia opłaty za pobyt zwierząt w Ośrodku, zgodnie z obowiązującym cennikiem,</li>
          <li>- posiadania aktualnej książeczki szczepień zwierzęcia,</li>
          <li>- sprzątania nieczystości pozostawianych przez zwierzę,</li>
          <li>- zapewnienia swojemu zwierzęciu we własnym zakresie niezbędnych warunków umożliwiających niezakłócony
            pobyt np. legowiska lub wyżywienia,
          </li>
          <li>- utrzymywania psów wyłącznie na smyczy i w kagańcu.</li>
        </ul>
      </li>
      <li>
        <b>47.</b> W przypadku nie stosowania się do zasad określonych powyżej, właściciele zwierząt będą zobowiązani do
        uiszczenia kary w wysokości 200 zł za każdy jednorazowo stwierdzony przypadek nie stosowania się do powyższych
        zobowiązań.
      </li>
      <li>
        <b>48.</b> Właściciele zwierząt ponoszą za nie pełną odpowiedzialność odszkodowawczą oraz materialną.
      </li>
      <li>
        <b>49.</b> Stanowczo zabrania się:
      </li>
      <li>
        <ul>
          <li>- wprowadzania zwierząt na plażę,</li>
          <li>- kąpieli zwierząt w jeziorze w obszarze plaży przeznaczonej dla Gości Ośrodka,</li>
          <li>- pobytu zwierząt na terenie budynku Pałacu,</li>
          <li>- korzystania przez zwierzęta z mebli znajdujących się w domkach w charakterze legowiska. UWAGA!
            Stwierdzenie przez personel Ośrodka podczas odbioru końcowego domku zabrudzeń lub sierści zwierząt
            pozostawionych na elementach mebli, skutkować będzie nałożeniem na Gości dodatkowej opłaty w wysokości 200
            zł za każdy zabrudzony mebel, przeznaczonej na pokrycie kosztów wykonania dodatkowego czyszczenia tych
            mebli.
          </li>
        </ul>
      </li>
      <li>
        <b>50.</b> Wszelkie ewentualne reklamacje z tytułu nienależycie świadczonych przez Ośrodek usług należy zgłaszać
        bezpośrednio w trakcie pobytu do recepcji Ośrodka. Skargi wniesione po zakończeniu świadczenia usług nie będą
        rozpatrywane.
      </li>
      <li>
        <b>51.</b> Regulamin Ośrodka podaje się do wiadomości poprzez:
      </li>
      <li>
        <ul>
          <li>- zamieszczenie go na stronie internetowej Ośrodka: <a href="https://www.palac-przelazy.pl/bip">www.palac-przelazy.pl/bip</a></li>
          <li>- udostępnienie Gościom podczas dokonywania czynnościach rezerwacyjnych.</li>
        </ul>
      </li>
      <li>
        <b>52.</b> Dokonanie rezerwacji pobytu w Ośrodku jest jednoznaczne z akceptacją warunków niniejszego regulaminu.
      </li>
      <li>
        <b>53.</b> W sprawach nie objętych niniejszym regulaminem decyduje Zarząd spółki zarządzającej Ośrodkiem.
        Integralną część niniejszego regulaminu stanowią <a (click)="moveToBeachRegulation()">Zasady korzystania z plaży</a>
      </li>
    </ul>
  </div>
  <div>
    <h1 id="regulamin-plazy" #beachRegulation>Regulamin korzystania z plaży</h1>
  </div>
  <div>
    <h3>Regulamin niniejszy obowiązuje od dnia 01-01-2025 roku.</h3>
  </div>
  <div class="beach-regulations">
    <ul>
      <li><b>1.</b> Przebywanie na terenie plaży w Ośrodku, zwanej dalej „Plażą”, oznacza znajomość i akceptację obowiązujących
        zasad, określonych w niniejszym regulaminie.
      </li>
      <li><b>2.</b> Na terenie plaży mają prawo przebywać osoby, które zarezerwowały i opłaciły pobyt w Ośrodku oraz
        właściciele przyczep kempingowych posiadających abonament roczny.
      </li>
      <li><b>3.</b> Plaża jest czynna codziennie od świtu do zmroku.</li>
      <li><b>4.</b> Plaża nie jest strzeżona.</li>
      <li><b>5.</b> Korzystanie z Plaży dla Gości Ośrodka jest nieodpłatne.</li>
      <li><b>6.</b> Osoby korzystające z Plaży zobowiązane są do bezwzględnego przestrzegania porządku i stosowania się do
        poleceń personelu Ośrodka.
      </li>
      <li><b>7.</b> Ze względów bezpieczeństwa zaleca się wzajemną obserwację a w miarę potrzeby udzielenie pomocy lub
        natychmiastowe powiadomienie odpowiednich służb.
      </li>
      <li><b>8.</b> Dzieci do lat 7 mogą przebywać na terenie Plaży tylko pod opieką osób dorosłych.</li>
      <li><b>9.</b> Na terenie Plaży zabrania się:</li>
      <li>
        <ul>
          <li>-  wstępu osobom pod wpływem alkoholu lub środków odurzających,</li>
          <li>-  wnoszenia, spożywania i sprzedaży alkoholu lub środków odurzających,</li>
          <li>- wrzucania do wody odpadów,</li>
          <li>- niszczenia urządzeń i sprzętu,</li>
          <li>- popychania i wrzucania do wody innych osób,</li>
          <li>- wprowadzania na Plażę psów,</li>
          <li>- wprowadzania do wody i kąpieli zwierząt,</li>
          <li>- biegania po pomostach,</li>
          <li>- używania mydła, szamponów i innych środków higieny osobistej, w czasie przebywania w wodzie,</li>
          <li>- wjeżdżania i wprowadzania pojazdów na plażę,</li>
          <li>- grillowania i rozpalania ognisk,</li>
          <li>- zaśmiecania terenu Plaży,</li>
          <li>- parkowania pojazdów mechanicznych.</li>
        </ul>
      </li>
      <li><b>10.</b> Za przedmioty wartościowe i rzeczy osobiste pozostawione na terenie Plaży Ośrodek nie ponosi
        odpowiedzialności.
      </li>
      <li><b>11.</b> Osoby przebywające na terenie Plaży ponoszą odpowiedzialność materialną za powstałe szkody będące wynikiem
        ich działania bądź zaniechania. Sprawca powstałej szkody zostanie obciążony kosztami jej naprawy.
      </li>
      <li><b>12.</b> Osoby naruszające porządek publiczny lub przepisy niniejszego regulaminu zmuszone będą do opuszczenia
        terenu Plaży a w rażących przypadkach mogą ponieść odpowiedzialność karną.
      </li>
      <li><b>13.</b> Skargi i wnioski należy zgłaszać do biura Ośrodka.</li>
      <li><b>14.</b> Wejście na teren Plaży jest jednoznaczne z akceptacją postanowień niniejszego regulaminu.</li>
    </ul>
  </div>
</div>
