@import "../variables";

.container {
  width: 100%;

  .item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .card {
      background: #132A3CEB;
      padding: 40px 20px;
      border: 0;
      border-radius: 0;

      mat-card-header {
        padding: 0;
      }

      mat-card-title {
        font-weight: bold;
        font-size: 38px;
        line-height: normal;
        color: white;
      }
    }
  }

  .content {
    display: flex;
    flex-flow: column wrap;
    padding: 40px;

    button {
      border-radius: 5px;
      color: black;
      margin: 10px 0;
      font-size: 18px;
      padding: 25px;
    }

    button:hover {
      color: white;
      border: 0;
      background: @orange-color;
    }

    .content-1 {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      gap: 20px;

      .content-1-2 {
        max-width: 400px;
        line-height: 2;
      }
    }

    .content-2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 28px;
      margin: 20px 0;

      table {
        border-spacing: 0;

        th {
          max-width: 200px;
          font-size: 20px;
          margin: 0;
          padding: 0 20px 40px 20px;
          text-align: left;
        }

        td {
          padding: 20px 40px 20px 20px;
        }

        .cell-id {
          font-weight: bold;
          font-size: 20px;
        }

        .cell-item {
          font-weight: normal;
          margin: 0 10px;
          color: #4D4D4D;
          border-bottom: 1px solid #e5e5e5;
          font-size: 16px;
        }
      }

      .mobile {
        display: none;
        width: 100%;

        .mobile-1 {
          width: 100%;

          h4, h5 {
            margin: 5px 0;
          }

          p {
            line-height: 1.2;
            margin: 0;
          }

          div {
            margin: 0 0 20px 0;
          }
        }
      }

      .table-footer {
        font-size: 18px;
        color: #4D4D4D;
        line-height: 2;
      }
    }

    .content-3 {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      margin: 70px 0;

      img {
        height: 600px;
        width: 500px;
      }

      a {
        text-decoration: none;
        color: #4D4D4D;
      }

      a:hover {
        color: @orange-color;
      }

      .content-3-1 {
        max-width: 400px;
      }
    }

    .content-4 {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      gap: 20px;
      max-width: 100%;
      margin: 40px 0;

      .content-4-1, img {
        min-width: 400px;
      }

      .content-4-2 {
        max-width: 450px;
      }
    }

    .content-5 {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      margin: 40px 0;

      ul {
        li {
          line-height: 2;
          font-size: 18px;
          color: #4D4D4D;
        }
      }

      .content-5-1 {
        max-width: 400px;
      }

      .content-5-2, img {
        min-width: 400px;
      }
    }

    .content-6 {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      margin: 40px 0;

      ul {
        li {
          line-height: 2;
          font-size: 18px;
          color: #4D4D4D;
        }
      }

      .content-6-1, img {
        min-width: 400px;
      }

      .content-6-2 {
        max-width: 500px;
      }
    }
  }
}

@media screen and (max-width: 1267px) {
  .container {
    .content {
      .content-1 {
        .content-1-1, img {
          width: 100%;
        }

        .content-1-2 {
          max-width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 1030px) {
  .container {
    .content {
      .content-2 {
        .desktop {
          display: none;
          border: 1px solid red;
        }

        .mobile {
          display: flex;
          flex-direction: column;
          gap: 20px;
        }
      }

      .content-3 {
        width: 100%;

        .content-3-1 {
          width: 100%;
          max-width: 100%;
        }

        .content-3-2, img {
          max-width: 100%;
          width: 100%;
        }
      }

      .content-4 {
        max-width: 100%;

        .content-4-1 {
          width: 100%;
          max-width: 100%;
          min-width: 0;
        }

        .content-4-2, img {
          max-width: 100%;
          width: 100%;
          min-width: 0;
        }
      }

      .content-5 {
        max-width: 100%;

        .content-5-1, img {
          width: 100%;
          max-width: 100%;
          min-width: 0;
        }

        .content-5-2 {
          max-width: 100%;
          width: 100%;
          min-width: 0;
        }
      }

      .content-6 {
        max-width: 100%;

        .content-6-1 {
          width: 100%;
          max-width: 100%;
          min-width: 0;
        }

        .content-6-2, img {
          max-width: 100%;
          width: 100%;
          min-width: 0;
        }
      }
    }
  }
}
