<app-carousel></app-carousel>

<div class="container">
  <app-our-offer></app-our-offer>
  <div style="background-image: url('/4/04-1024x480.jpg')" class="details-3">
    <div class="details-3-1">
      <h1>
        Masz pytania? Jeśli chcesz skorzystać z oferty naszego ośrodka napisz do nas.
      </h1>
      <a routerLink="/kontakt" mat-flat-button>Skontaktuj się z nami</a>
    </div>
  </div>
  <div class="details-4">
    <h1>Opieka medyczna na najwyższym poziomie</h1>
  </div>
  <div class="details-5">
    <div class="details-5-1">
      <h2>
        Pałac Przełazy to pięknie położony obiekt tuż nad samym jeziorem o krystalicznej wodzie. Tutaj szybko odzyskasz
        utracone siły.
      </h2>
      <p>
        Ośrodek Rehabilitacyjno-Wypoczynkowy w Przełazach (gmina Lubrza, pow. Świebodzin), mieści się w XIX- wiecznym,
        neorenesansowym pałacu, w pobliżu międzynarodowej trasy Warszawa- Berlin.
      </p>
      <img src="/kDSC_7860-1/kDSC_7860-1-684x1024.jpg" alt="Pałac Przełazy położenie">
    </div>
    <div class="details-5-1">
      <img src="/kDSC_7856-1/kDSC_7856-1-300x200.jpg" alt="Pałac Przełazy położenie">
      <p>
        Położony jest nad brzegiem jeziora Niesłysz, które posiada pierwszą klasę czystości wody. Obiekt otoczony jest
        pięknym parkiem, zachęcającym do spacerów.
      </p>
      <p>
        Roztaczające się wokół lasy iglaste i mieszane, naturalne zbiorniki wodne oraz wyjątkowe położenie Przełaz z
        dala
        od przemysłu i spalin samochodowych, tworzą specyficzny mikroklimat, który dobrze służy osobom cierpiącym na
        schorzenia górnych dróg oddechowych.
      </p>
      <button routerLink="/o-nas" mat-stroked-button>Więcej o ośrodku</button>
      <img src="/kDSC_7864-1/kDSC_7864-1-300x200.jpg" alt="Pałac Przełazy położenie">
    </div>
  </div>

  <div class="details-6">
    <div class="details-6-1">
      <h1>Zapraszamy do zapoznania się z naszą okolicą</h1>
    </div>
    <div class="details-6-2">
      <div class="details-6-2-1">
        <iframe src="https://www.youtube.com/embed/oGOYIX_NkNo?si=KwQd2THutazlGrBX"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="details-6-2-2">
        <iframe src="https://www.youtube.com/embed/reoVje5a9ek?si=Vl_yd-l4YU-2P1Wb"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
