<div class="container">
  <div class="details-1">
    <h1>Poznaj naszą ofertę</h1>
  </div>
  <div class="details-2">
    <mat-card>
      <img mat-card-image src="/kDSC_7890/kDSC_7890-300x200.jpg" alt="Turnusy rehabilitacyjne">
      <mat-card-header>
        <mat-card-title>
          Turnusy rehabilitacyjne
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Skorzystaj z naszej oferty na turnusy rehabilitacyjne. Położenie ośrodka wsród lasów, tuż nad jeziorem
          zapewnia
          idealne warunki dla odpoczynku i poprawy stanu zdrowia.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button routerLink="/turnusy-rehabilitacyjne">Dowiedz się więcej.</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <img mat-card-image src="/kDSC_7907/kDSC_7907-300x200.jpg" alt="Zabiegi rehabilitacyjne">
      <mat-card-header>
        <mat-card-title>
          Zabiegi rehabilitacyjne
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Oferujemy szeroki wachlarz zabiegów rehabilitacyjnych w trybie dziennym oraz z możliwością noclegu.
          Wykwalifikowana kadra zapewni Ci szybki powrót do zdrowia.
        </p>
        <br/>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button routerLink="/zabiegi-rehabilitacyjne">Dowiedz się więcej.</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <img mat-card-image src="/kDSC_7917/kDSC_7917-300x200.jpg" alt="PFRON">
      <mat-card-header>
        <mat-card-title>
          PFRON
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Organizujemy zabiegi rehabilitacyjne dla osob niepełnosprawnych korzystające z dofinansowania ze środków
          Państwowego Funduszu Rehabilitacji Osób Niepełnosprawnych.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button routerLink="/pfron">Dowiedz się więcej.</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
