<div class="container">
  <div class="top">
    <div class="item"
         [style]="'background-image: url(/NDKdIn2A/NDKdIn2A-1536x746.jpeg);'">
      <div></div>
      <mat-card class="card" appearance="outlined">
        <mat-card-header>
          <mat-card-title>Atrakcje w pobliżu</mat-card-title>
        </mat-card-header>
      </mat-card>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="content">
    <div class="content-1">
      <p>
        Piękna przyroda, lasy i jeziora oraz zabytki architektoniczne – Ziemia Lubuska ma naprawdę wiele do zaoferowania
        odwiedzającym. Zobacz czego nie możesz przegapić.
      </p>
    </div>
    <div class="content-left">
      <div class="content-left-1">
        <img src="/conscious-design-o50fBHPIgc8-unsplash/conscious-design-o50fBHPIgc8-unsplash.jpg"
             alt="Zamek Joannitów w Łagowie Lubuskim, pocysterskie opactwo">
      </div>
      <div class="content-left-2">
        <h1>
          Zamek Joannitów w Łagowie Lubuskim, pocysterskie opactwo
        </h1>
        <div>
          <p>
            Zamek Joannitów usytuowany jest na wzgórzu na przesmyku jeziora Trześniowskiego i Łagowskiego. Budowa zamku
            rozpoczęła się w 1350 roku. Zamek na przestrzeni wieków kilka razy zmieniał właścicieli. Mieszkali tu
            Szwedzi
            później Prusacy. Obecnie zamek jest własnością prywatną.
          </p>
          <p>
            Obecnie w skład zamku wchodzi budynek z XVII w., cztery dwupiętrowych skrzydła, które tworzą renesansowy
            dziedziniec oraz wieża warowna.
          </p>
          <p>
            Wieża pełni rolę atrakcji turystycznej, z której można podziwiać okoliczny krajobraz. Na turystów czeka
            również komnata komtura, katownia oraz sala rycerska.
          </p>
          <p>
            W zamku znajduje się obecnie hotel i restauracja.
          </p>
        </div>
      </div>
    </div>
    <div class="content-right">
      <div class="content-right-1">
        <h1>
          Pocysterski klasztor w Gościkowie-Paradyżu
        </h1>
        <p>
          Pocysterski klasztor w Gościkowie-Paradyżu – wczesnogotycki kościół bazylikowy z barokowym ołtarzem głównym z
          1739r. otoczony pięknym ogrodem.
        </p>
        <p>
          Kościół opactwa cysterskiego w Gościkowie-Paradyżu wznoszony był w latach 1270-1397 w stylu gotyckim. W
          trakcie dziejów dwukrotnie ulegał pożarom. Odbudowany w XVIII wieku przekształcony został do formy barokowej.
        </p>
        <p>
          Jest to największe i najlepiej zachowane założenie klasztorne w województwie lubuskim, obecnie siedziba
          Wyższego Seminarium Duchownego Diecezji Zielonogórsko-Gorzowskiej będącego jednocześnie filią Wydziału
          Teologicznego Uniwersytetu Szczecińskiego oraz Muzeum Paradyskiego.
        </p>
      </div>
      <div class="content-right-2">
        <img src="/cristina-seri-dRu3zxFb6uE-unsplash-1/cristina-seri-dRu3zxFb6uE-unsplash-1-1024x683.jpg"
             alt="Pocysterski klasztor w Gościkowie-Paradyżu">
      </div>
    </div>
    <div class="content-left">
      <div class="content-left-1">
        <img src="/conscious-design-o50fBHPIgc8-unsplash/conscious-design-o50fBHPIgc8-unsplash.jpg"
             alt="Sanktuarium Matki Bożej Cierpliwie Słuchającej w Rokitnie">
      </div>
      <div class="content-left-2">
        <h1>
          Sanktuarium Matki Bożej Cierpliwie Słuchającej w Rokitnie
        </h1>
        <div>
          <p>
            Pierwszą budowę nowego kościoła rozpoczęto z początkiem XVIII wieku, nie została jednak dokończona. W 1746
            r. budowlę rozebrano i zaczęto wznosić obecną świątynię. Ukończono ją w 1762 r.
          </p>
          <p>
            Obecnie miejsce licznych pielgrzymek za sprawą Cudownego Obrazu Matki Bożej Rokitniańskiej Cierpliwie
            Słuchającej.
          </p>
          <p>
            Obraz namalowany został na początku XVI wieku przez mistrzów szkoły niderlandzkiej, na drewnie lipowym.
            Przedstawia popiersie Matki Bożej na złoconym tle. Głowę otacza aureola wydrążona w drzewie.
            Charakterystycznym elementem jest odsłonięte ucho – stąd inna nazwa obrazu Matka Boża Cierpliwie Słuchająca.
            Prawdopodobnie jest to fragment większego dzieła.
          </p>
        </div>
      </div>
    </div>
    <div class="content-right">
      <div class="content-right-1">
        <h1>
          „Pętla Boryszyńska”
        </h1>
        <p>
          Unikalny zabytek architektury militarnej stanowiącej część Międzyrzeckiego Rejonu Umocnionego.
        </p>
        <p>
          Udostępniona dla zwiedzających, podziemna trasa turystyczna ma 5 km długości. Co stanowi tylko fragment
          kompleksu podziemnego. Pętla Boryszyńska znajduje się w pobliżu miejscowości Boryszyn w gminie Lubrza.
        </p>
        <p>
          Dodatkowa atrakcję stanowią liczne nietoperze, które zamieszkują Pętlę Boryszyńską.
        </p>
        <p>
          Międzyrzecki Rejon Umocniony (Festungsfront Oder-Warthe Bogen) to jeden z najwiekszych w Europie założeń
          obronnych. Posiada wyjątkowe rozwiązania konstrukcyjne oraz unikatowe pancerze. Stanowi doskonały przykład
          niemieckiej sztuki fortyfikacyjnej lat 30-tych XX wieku.
        </p>
      </div>
      <div class="content-right-2">
        <img src="/cristina-seri-dRu3zxFb6uE-unsplash-1/cristina-seri-dRu3zxFb6uE-unsplash-1-1024x683.jpg"
             alt="Pętla Boryszyńska">
      </div>
    </div>
    <div class="content-left">
      <div class="content-left-1">
        <img src="/conscious-design-o50fBHPIgc8-unsplash/conscious-design-o50fBHPIgc8-unsplash.jpg"
             alt="Świebodzin i pomnik Chrystusa Króla">
      </div>
      <div class="content-left-2">
        <h1>
          Świebodzin i pomnik Chrystusa Króla
        </h1>
        <div>
          <p>
            Świebodzin to niewielkie miasto w woj. lubuskim, usytuowane na przecięciu się dróg krajowych nr 3 i 92 oraz
            międzynarodowych – autostrada A2 i S3. Właśnie ta świetna lokalizacja sprzyja obecnemu rozwojowi miasta co
            przyciąga zarówno inwestorów jak i turystów.
          </p>
          <p>
            Początki miasta sięgają XIII w., kiedy to stało się lokalnym ośrodkiem rzemiosła w szczególności tkactwa i
            sukiennictwa.
          </p>
          <p>
            W tym okresie rozwijały się w mieście również inne gałęzie rzemiosła w szczególności kuśnierstwo oraz
            garbarstwo. Ważny dla późniejszego rozwoju miasta był pierwszy przywilej z roku 1395, nadający miastu prawo
            do warzenia piwa.
          </p>
          <p>
            Jedną z głównych atrakcji miasta jest żelbetowa rzeźba Chrystusa Króla, która została ukończona w 2010 roku.
            Figura ma 36 m wysokości, a jej forma nawiązuje do pomnika Chrystusa Odkupiciela w Rio de Janeiro (jest od
            niego wyższa o 3 m).
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
